<h1>Editing partial <%= @cms_partial.public_send(@cms_partial.class.name_field) %></h1>

<%= form_for @cms_partial, url: url_for(action: 'update', id: @cms_partial) do |f| %>
  <%= render partial: 'cadmus/partials/form', locals: { f: f } %>
<% end %>
