<h1>Editing page</h1>

<%= form_for(@page, :url => { :action => :update, :page_glob => @page.slug }) do |f| %>
	<%= render :partial => 'cadmus/pages/form', :locals => { :f => f } %>
<% end -%>

<%= link_to 'Show', { :action => 'show', :page_glob => @page.slug } %> |
<%= link_to 'Back', { :action => 'index' } %>
